@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #0c0c0c;
    
}

body{
    height: 100vh;
    display: grid;
    place-items: center;

}

.time {
    color: rgb(236, 0, 98);
    font-family: orbitron;
    font-size: 3rem;
    letter-spacing: 7px;
}